// SPDX-License-Identifier: GPL-2.0+
/dts-v1/;

#include "ast2600-u-boot.dtsi"

/ {
	model = "AST2600 MSX4 BMC";
	compatible = "aspeed,ast2600-msx4", "aspeed,ast2600";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x40000000>;
	};

	chosen {
		stdout-path = &uart5;
	};

	aliases {
		spi0 = &fmc;
		ethernet0 = &mac0;
	};

	cpus {
		cpu@0 {
			clock-frequency = <800000000>;
		};
		cpu@1 {
			clock-frequency = <800000000>;
		};
	};
};

&display_port {
	status = "okay";
};

&fmc {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fmcquad_default>;
	aspeed,abr-watchdog-disable;

	flash@0 {
		status = "okay";
		spi-max-frequency = <10000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};

	flash@1 {
		status = "okay";
		spi-max-frequency = <10000000>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;
	};
};

&hace {
	status = "okay";
};

&mac0 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&ethphy3>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii1_default>;
};

&mdio {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mdio4_default>;
	#address-cells = <1>;
	#size-cells = <0>;

	ethphy3: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <2>;
	};
};

&scu {
	mac0-clk-delay = <0x1d 0x0a
			  0x1d 0x0a
			  0x1d 0x0a>;
};

&sdrammc {
	clock-frequency = <400000000>;
	aspeed,ecc-enabled;
	aspeed,ecc-size-mb = <0>;
};

&uart5 {
	status = "okay";
	u-boot,dm-pre-reloc;
};

&wdt1 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&wdt3 {
	status = "okay";
};
