// SPDX-License-Identifier: GPL-2.0+
/dts-v1/;

#include "ast2600-u-boot.dtsi"

/ {
	model = "ASUS Kommando IPMI Card";
	compatible = "asus,kommando-ipmi-card", "aspeed,ast2600";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x40000000>;
	};

	chosen {
		stdout-path = &uart5;
	};

	aliases {
		spi0 = &fmc;
		eth0 = &mac2;
	};

	cpus {
		cpu@0 {
			clock-frequency = <800000000>;
		};
		cpu@1 {
			clock-frequency = <800000000>;
		};
	};
};

&fmc {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fmcquad_default>;

	flash@0 {
		status = "okay";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};
};

&hace {
	status = "okay";
	u-boot,dm-pre-reloc;
};

&mac2 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy2>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii3_default>;
};

&mdio {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mdio3_default>;
	#address-cells = <1>;
	#size-cells = <0>;

	ethphy2: ethernet-phy@2 {
		reg = <0>;
	};
};

&sdrammc {
	clock-frequency = <400000000>;
};

&uart5 {
	status = "okay";
	u-boot,dm-pre-reloc;
};

&wdt1 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&wdt3 {
	status = "okay";
};
